.bc-btn {
  width: 10.625rem;
  height: 2.125rem;
  margin: 0 0 0 2.5rem;
  padding: 0.375rem 1.916rem 0.375rem 2.022rem;
  border-radius: 6px;
  background-color: $primary;
  cursor: pointer;
  color: $white;
}