.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.bc-btn {
  height: 1.875rem !important;
  font-size: 0.875rem !important;
  @media (min-width: $md) {
    height: 2.125em !important;
    font-size: 0.875rem !important;
  }
  @media (min-width: $xl) {
    height: 2.5rem !important;
    font-size: 1.125rem !important;
  }
}
