
$xs: 0;
$sm: 337px;     //320px + scroll
$md: 785px;     //768px + scroll
$xl: 1297px;    //1280px + scroll

$bcpink: #db0a5b;
$bcnavy: #11143d;
$bccharcoal: #404041;
$bcpurple: #971b50;
$bclightpink: #f6c2d6;
$bcteal: #19a2b8;
$bcblue: #006cb6;
$bclightblue: #bfdaed;

$primary: #db0a5b;
$secondary: #11143d;
$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-bg: #EBEBEB;

$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 0.75rem;
$spacing: 0.625rem;
